table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    width: 25%;
}

.currency-table td {
    text-align: center;
}

.currency-table th {
    background-color: khaki;
}