table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    width: 25%;
}

.currency-table td {
    text-align: center;
}

.currency-table th {
    background-color: khaki;
}

p {
    text-align: left;
}

.logo {
    text-align: left;
}

h2 {
    font-size: 48px;
    color: brown;
}

.bordered-box {
    border: 2px solid cyan;
    padding: 20px;
    width: 300px;
}